* {
  margin: 0;
  padding: 0;
  outline: 0;
  /* border: none; */
  text-decoration: none;
  box-sizing: border-box;
  color: #010101;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", Verdana, Sans-serif;
  /* min-height: 2000px; */
}
/* Navigation Start */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 2px solid #dfdfdf;
  position: fixed;
  padding: 18px 32px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar .navbar-menu {
  display: flex;
}

.navbar .navbar-logo img {
  width: 96px;
  padding-top: 10px;
}

.navbar .navbar-menu a {
  background-color: #fff;
  font-size: 16px;
  padding: 6px;
  cursor: pointer;
  border: 1px solid #010101;
  transition: 0.3s background-color ease-out;
}

.navbar .navbar-menu a:hover {
  background-color: #101010;
  color: #fff;
}

.navbar .navbar-menu a:first-child {
  padding: 6px 24px;
  border-right: hidden;
  border-radius: 5px 0 0 5px;
}

.navbar .navbar-menu a:last-child {
  padding: 6px 24px;
  border-left: hidden;
  border-radius: 0 5px 5px 0;
}
/* Navigation End */

/* Home Start */
.home {
  margin-top: 80px;
  padding: 24px 0;
}

.home h1 {
  font-size: 62px;
  text-align: center;
  color: #010101;
  font-weight: 700;
}

.home h2 {
  font-size: 36px;
  text-align: center;
  color: #a2a2a2;
  font-weight: 400;
  padding: 16px;
}
/* Home End */

/* Container Row Start*/
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row .content {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}

.row .content .slide-img,
.row .content .customer {
  text-align: center;
}

.row .content .slide-img .show-img {
  display: block;
  position: relative;
}
.row .content .slide-img img {
  width: 800px;
  height: 440px;
  object-fit: cover;
  border-radius: 10px;
}

.row .content .slide-img .button {
  display: inline-block;
  background-color: #2e2e2e;
  border: none;
  color: #fff;
  padding: 8px 12px;
  width: 72px;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin: 12px 8px;
  cursor: pointer;
  transition: 0.3s;
}

.row .content .slide-img .button:hover {
  background-color: #010101;
}

.row .content .slide-img h3 {
  font-weight: 400;
  font-size: 20px;
  font-style: italic;
  line-height: 48px;
  color: #a1a1a1;
}

.row .customer {
  display: flex;
  margin-top: 16px;
  padding: 28px;
  align-items: center;
  justify-content: center;
}

.row .customer .user {
  padding: 8px;
  height: 64px;
  width: 64px;
  border-radius: 64px;
  background-color: #eeeeee;
}

.row .customer .identitas-customer {
  text-align: left;
  margin-left: 16px;
}

.row .customer .identitas-customer p {
  font-weight: 400;
  font-style: italic;
}

/* Forms Start */
.row .forms {
  display: flex;
}

.row .forms .customer-form {
  width: 420px;
  height: 100%;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 16px 28px;
}

.row .forms .customer-form h3 {
  font-size: 28px;
  margin: 16px 0;
}

.row .forms .customer-form p {
  font-size: 16px;
  margin-bottom: 20px;
}

.row .forms .customer-form label {
  font-size: 16px;
  font-weight: 700;
}

.row .forms .customer-form input[type="text"],
#interest {
  display: inline-block;
  width: 100%;
  padding: 12px 18px;
  margin: 8px 0 24px;
  border: 1px solid #d2d2d2;
  border-radius: 8px;
  font-size: 16px;
}

.row .forms .customer-form input[type="submit"] {
  width: 100%;
  background-color: #2e2e2e;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.row .forms .customer-form input[type="submit"]:hover {
  background-color: #010101;
}
/* Forms End */

/* Our Package Start */
.our-package {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 42px;
}

.our-package .service {
  display: inline-block;
  width: 840px;
  padding-right: 28px;
}

.our-package .service p {
  text-align: left;
}

.our-package .page-block {
  display: flex;
  width: 440px;
  height: 100%;
  padding: 0 4px 0 22px;
}

.our-package .service .container {
  display: inline-block;
}

.our-package .service .container .benefit {
  display: flex;
  width: 840px;
  padding: 16px 0;
  align-items: center;
}

.our-package .service .container .benefit .number {
  padding: 8px;
  height: 52px;
  width: 52px;
  border-radius: 52px;
  background-color: #eeeeee;
  color: #a1a1a1;
  text-align: center;
  font-size: 26px;
}

.our-package .service .container .benefit .feature {
  padding: 0 12px;
}
/* Our Package End */

/* Footer Start */
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #2e2e2e;
  border-top: 1px solid #010101;
  margin-top: 48px;
  padding: 18px 32px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 998;
}

footer .credit p {
  color: #fff;
}
footer .credit a {
  font-weight: 400;
  color: #fff;
}
/* Footer End */

/* Media Query */
/* Phone */
@media (max-width: 600px) {
  .navbar .navbar-menu a {
    font-size: 12px;
    padding: 4px;
  }
  html {
    font-size: 12px;
  }
  .home h1 {
    font-size: 20px;
  }
  .home h2 {
    font-size: 14px;
  }
  .row .content .slide-img img {
    width: 80%;
    height: 80%;
  }

  .row .content .slide-img .button {
    font-size: 10px;
    padding: 6px 12px;
  }

  .row .content .slide-img h3 {
    font-size: 14px;
    line-height: 24px;
  }
  .our-package .service {
    width: 80%;
    font-size: 12px;
  }
  .our-package .page-block {
    display: none;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 16px;
  }
  .home h1 {
    font-size: 28px;
  }
  .home h2 {
    font-size: 16px;
  }

  .row .content .slide-img img {
    width: 90%;
    height: 90%;
  }
  row .content .slide-img h3 {
    font-size: 16px;
    line-height: 24px;
  }
  .our-package .service {
    width: 90%;
    font-size: 16px;
  }
  .our-package .page-block {
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...}  */
